packages:
  rpm:
    php-pear: []
    php-devel: []
    gcc: []
    ImageMagick: []
    ImageMagick-devel: []
files:
    "/etc/php.d/98imagick.ini":
        mode: "000755"
        owner: root
        group: root
        content: |
            extension=imagick.so
commands:
    install_mongo_driver_command:
        command: sudo pecl install imagick
        ignoreErrors: true
