commands:
  00_install_required_packages:
    command: yum -y install php-pear php-devel gcc
  01_install_mongodb:
    command: pecl7 install mongodb
  02_install_imageick:
    command: yum -y install ImageMagick ImageMagick-devel
  03_install_imageick:
    command: bash -c "yes '' | pecl install -f imagick"
  04_install_imageick:
    command: bash -c "echo 'extension=imagick.so' > /etc/php.d/imagick.ini"
